@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rmjaq5');
  src:  url('fonts/icomoon.eot?rmjaq5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rmjaq5') format('truetype'),
    url('fonts/icomoon.woff?rmjaq5') format('woff'),
    url('fonts/icomoon.svg?rmjaq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "\e904";
}
.icon-people_outline:before {
  content: "\e903";
}
.icon-microsoft:before {
  content: "\e902";
  color: #666;
}
.icon-fork-and-knife:before {
  content: "\e900";
}
.icon-lunch:before {
  content: "\e900";
}
.icon-food:before {
  content: "\e900";
}
.icon-restaurant:before {
  content: "\e900";
}
.icon-meal:before {
  content: "\e900";
}
.icon-dinner:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-search:before {
  content: "\e986";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pie-chart1:before {
  content: "\e901";
}
.container-fluid img{
    width: 130px;
}

.card {
    border: 0;
}
.card a{
  text-decoration: none;
}
.social-media-icons a{
    color:black;
    text-decoration: none;
    font-size: medium;
}
.Main-navbar a:hover{
  border-bottom: 3px solid black;
}

.second-image img{
  width: 100%;
}
.dropdown-menu{
  width:900px;
  background-color:#e6e6e6;
}
.dropdown-menu li{
  display: flex;
}
.dropdown-menu li ul{
  list-style-type: none;
}
.dropdown-menu li ul li{
  margin: 15px 0;
}
.dropdown-menu li ul li a{
  font-size:11px;
  text-decoration: none;
  color: black;
}
.carousel-indicators {
  bottom: -63px;
  
}
.carousel-indicators [data-bs-target] {
  background-color: #000;
  width: 12px;
  height: 12px;
 border-radius: 50%;
 margin: 10px;
 margin-top: 100px;

}

@media screen and (max-width:991px) {
  .dropdown-menu li{
    display:block;
  }
  .dropdown-menu{
    width:300px ;
    border: 0;
  }
}